
body
{
  font-family: Times New Roman, Liberation Serif, serif;
}

.material-icons
{
  font-size: 20px;
}

ul li.T1
{
  background: #ff0000;
  color: #000000;
}

ul li.T2
{
  background: #ff9900;
  color: #000000;
}

ul li.checked
{
  background: #888888;
  color: #000000;
}
