
body
{
  font-family: Times New Roman, Liberation Serif, serif;
  margin: 0;
}

*
{
  box-sizing: border-box;
}

.icons
{
  font-size: 40px;
  padding: 0px 10px;
}

.accordion
{
  background-color: #EEEEEE;
  color: #444444;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 40px;
  transition: 0.4s;
}

.active
{
  background-color: #CCCCCC;
}

.accordion:after
{
  content: '\002B';
  color: #777777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after
{
  content: "\2212";
}

.panel
{
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  padding: 5px 1px 5px 20px;
}

ul
{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

ul li
{
  list-style-type: none;
  font-size: 30px;
  background: #EEEEEE;
  transition: 0.2s;
  position: relative;
  border: 2px solid black;
  border-radius: 10px;
  padding: 12px 0px;
  
  /* Make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul li.checked
{
  background: #888888;
  color: #FFFFFF;
  text-decoration: line-through;
}
